## KNIME files
.knimeLock
.project
.savedWithData
workflowset.meta
 
## KNIME directories containing node data
internal/
port_*/
.metadata/
internalTables/
output/
_backup/
temp/
modules/

# Excel temporary
~$*.xls*
 
# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip